body {

	/*background-color: #DCDCDC;*/
	background-image: url(https://st.depositphotos.com/1710382/2977/i/950/depositphotos_29770843-stock-photo-clear-empty-photographer-studio-background.jpg);
}

.container {
    background-color: white;
}

#tituloDestaque {

	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	text-shadow: gray 1px 1px 5px;
}

#cabecalho {

	border: black 1px solid;
	border-radius: 10px;
	padding-left: 50px;
	margin-bottom: 40px;
    box-shadow: black 2px 2px 5px;
    margin-top: 14px;
}

h1 {
	display: flex;
	justify-content: center;
	text-shadow: gray 1px 1px 5px;


}

#corpo {
    padding-left: 2%;
    padding-right: 2%;
}
img {
	width: 13%;
}

#first-text {
    margin-top:-5%
}

@media only screen and (max-width: 1200px) {
	#first-text {
		margin-top: -2px;
	}
  }
